/*--------------------------------------------------------------
# Do sec
--------------------------------------------------------------*/
.do-sec {
  padding-top: 80px;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
