/*--------------------------------------------------------------
# Feature Sec
--------------------------------------------------------------*/
.feature-sec {
  padding-top: 80px;
  .feature-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
    h2 {
      color: #021850;
    }
    p {
      color: #000103;
      margin-top: 20px;
    }
  }
}
